.blogDiv {
  margin: 20px auto;
  width: 640px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  box-shadow: 0 3px 1px -1px #e5e7eb;
  padding: 0px;
}

.blogD1 {
  display: flex;
  border-bottom: 1px solid #e5e7eb;
}

.blogD1 h3 {
  margin: 3px 0px;
}

.blogD1 a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.blogD2 {
  border-bottom: 1px solid #e5e7eb;
}

.blogD2 p {
  margin: 10px 10px;
}

.blogD3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogD3 p {
  margin: 3px 10px;
  font-size: 14px;
}
