/* Navbar.css */

nav {
  background-color: black; /* Dark navbar background */
  padding: 10px 20px;
}

.topnav {
  display: flex;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Creates three columns of equal width */
  width: 100%;
  align-items: center;
}

.tr {
  display: flex; /* This makes it a flex row */
  width: 100%; /* Sets the width of the row */
}

.d1 {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: left;
}

.d1 a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.d1 a.active {
  color: white;
}

.d2 {
  display: flex;
  flex: 1;
  width: 200%;
  justify-content: center;
}

.d2 input[type="text"] {
  text-align: left;
  padding: 8px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px; /* Rounded borders for the input */
  outline: none;
  background-color: #313131;
  border: none;
  color: white;
}

.d2 input[type="text"]:focus {
  border-color: gray;
  text-align: left;
}

.d3 {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: flex-end; /* Aligns the button to the right */
}

.d3 button.newpost {
  background-color: #303030; /* Button color */
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 8px; /* Rounded borders for the button */
  outline: none;
}

.d3 button.newpost:hover {
  background-color: gray; /* Darken the button on hover */
}
